body {
  background-image: url(background.jpg);
  background-repeat: repeat-x;
  background-size: auto 100%;
  background-position: center;
}
.bordered {
  border-width: 1px;
  border-style: solid;
  border-color: black;
  border-radius: 10px;
  box-shadow: 3px 3px 10px;
  background-color: white;
}
.appContainer {
  width: 400px;
  padding: 20px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.response {
  display: inline-block;
  width: 40%;
  height: 20px;
  border-radius: 10px;
  border-width: 1px;
  border-style: solid;
  box-shadow: 0px 0px 10px;
  margin: 10px;
  cursor: pointer;
}
.quoteBox {
  width: 100%;
  padding: 5px;
  font-size: 20px;
}
.quote {
  background-color: rgb(230, 230, 230);
  width: 100%;
  border-radius: 10px;
}
.real {
  background-color: rgb(150, 150, 256);
}
.robot {
  background-color: rgb(256, 150, 150);
}
.faq {
  margin: 20px;
  width: 28px;
  height: 28px;
  float: right;
  position: relative;
  background-color: rgb(230, 230, 230);
  text-align: center;
  font-size: 25;
  cursor: pointer;
  box-shadow: 3px 3px 10px;
  border-radius: 15px;
}
.faqBox {
  position: relative;
  width: 60%;
  height: 60%;
  background-color: rgb(230, 230, 230);
  overflow: auto;
  font-size: 20;
  top: 20%;
  left: 20%;
  min-width: 250px;
  padding-left: 10px;
  padding-right: 10px;
}
.hide {
  display: none;
}
.scoreBox {
  height: 30px;
  width: 90%;
  margin-left: 5%;
  margin-top: 10px;
  margin-bottom: 5px;
  background: linear-gradient(to right, rgb(256, 150, 150), rgb(150, 150, 256));
}
.scoreIcon {
  height: 30px;
  width: 30px;
  position: relative;
}
.arrow {
  width: 0px;
  height: 0px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid rgb(256, 150, 150);
}
.subScore {
  display: none;
  margin: auto;
  height: 18px;
  width: 65%;
  background-color: white;
  padding: 5px;
}
.scoreBox:hover .subScore {
  display: block;
}
.answer {
  border-top-width: 1px;
  border-color: black;
  border-style: solid;
  border-left-width: 1px;
  border-right-width: 1px;
  width: 50%;
  box-sizing: border-box;
}
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.attribution {
  text-align: right;
  font-size: 18px;
}
.next {
  width: 20%;
  height: 20px;
  border-radius: 10px;
  border-width: 1px;
  border-style: solid;
  box-shadow: 0px 0px 10px;
  margin: 10px;
  margin-left: 40%;
  cursor: pointer;
}
.resultBox {
  opacity: 0;
  color: black;
}
.fadeIn {
  opacity: 1;
  transition: opacity 1s linear;
}